body {
  background-color: antiquewhite;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid rgb(114, 112, 112);
  box-shadow: 2px 0px rgb(105, 102, 102);
  border-radius: 10px;
  max-width: 900px;
}
h1 {
  background-color: aliceblue;
  text-align: center;
}
p {
  text-align: center;
}
a {
  margin: 0 10px;
  color: blueviolet;
  text-align: center;
}
footer {
  text-align: center;
}
.email {
  text-align: center;
}
.contact {
  text-align: center;
}
.photo2 {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.order {
  text-align: left;
}
