body {
  background-color: antiquewhite;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid rgb(114, 112, 112);
  box-shadow: 2px 0px rgb(105, 102, 102);
  border-radius: 10px;
  max-width: 900px;
}
h1 {
  background-color: aliceblue;
  text-align: center;
}
p {
  text-align: center;
}

.email {
  text-align: center;
}
.contact {
  text-align: center;
}
.photo2 {
  text-align: center;
}
.order {
  text-align: left;
}
